body {
    background-color:  #f9f3fc;
    font-family: Arial, sans-serif;
    padding: 20px;
}

header img {
    border-radius: 50%;
}

nav {
    margin-top: 20px;
}

nav a {
    margin-right: 15px;
    text-decoration: none;
    font-weight: bold;
}

section, form, ul, div {
    background-color: #cd8cee;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.navbar{
    background-color: rgb(237, 208, 246);
    text-align: center;
}